<!DOCTYPE html>
<html lang="vi">
<head>
    <title>Application</title>
<style type="text/css">
/* body {background-color: powderblue;} */

@font-face {
                font-family: 'source-viet';
                font-style: normal;
                /* src: url(fonts/AndikaNewBasic-R.ttf); */
                src: url(fonts/BeVietnam-Thin.ttf);
                
            }
            
#mainContainer{
    /* width: 80%; */
    /* background-color: aquamarine; */
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto; 
}
#top{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#toptop{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.headercolor{
    color:#249FE5;
    font-size: 20px;
}

.myflex{
    flex: 1;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.top2{
    display: flex;
    flex-direction: column;
   
    /* justify-content: center;
    align-items: center; */
    text-align: center;
}

.p1{
    margin-bottom:-10px;
}

.righleft{
    display: flex;
    flex-direction: row;
    margin-bottom: -30px;
}

.bold{
    font-weight: bold;
}
.rightLeftChild{
    /* margin-right: 120px; */
    width: 180px;
}

.widthright{
    width: 120px;
}
.strike{
    text-decoration: line-through;

}
.table{
    width:80% ; border-collapse: collapse;
}

.italic{
    font-style: italic;
}

.italicStyle{
    margin-top: -10px;
}
/* 
.tablethree > table, th, td {
    border: 1px dotted black;
} */

.thdotted{
    border: 1px dotted black;
}
.tddotted{
    border: 1px dotted black;
}

.signclass{
    /* background-color: red; */
    width: 90%;
    /* height: 120px; */
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
}


.singleclasschilddiv{
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.singleclasschilddiv >.divider{
    justify-content: center;
    align-content: center;
    align-self: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.lastElement{
    margin-top: 0px;
}
.main{
    /* width:95%; */
    margin:0 auto
}

.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}
.center{
    margin:0 auto;
    text-align: center;
}
.signDiv{
    width:100%
}

.extramargin{
    margin-top: 50px;
}

.table-div{
  padding-left: 4%;
}
.td-top-align{
  display: contents
}
</style>
</head>
<body style="font-family: 'source-viet',serif;padding: 3%; font-size: 12px;">
    <div class="main">
    <div>
        <div class="floatLeft"><img src="image/baoviet-logo.png" alt="Italian Trulli" width="200" height="50"/></div>
        <div class="floatRight"><p class="myflex">Số GYCBH: {{contract_number}}</p></div>
    </div>

    <br/>
    <br/>

    <div class="center">
        <h3 class="myflex p1 headercolor bold">GIẤY YÊU CẦU BẢO HIỂM </h3>
        <p class="myflex p1 bold" style="font-size: 15px;" >SẢN PHẨM BẢO HIỂM AN TÂM TRỌN VẸN</p>
        <p class="myflex p1">(Phát hành theo ủy quyền của Tổng Công ty Bảo Việt Nhân thọ)</p>
    </div>

    <div>
        <h3>I. THÔNG TIN CÁ NHÂN</h3>
        <ul>
            <li>Bên mua bảo hiểm (Người tham gia bảo hiểm) đồng thời là Người được bảo hiểm:</li>
        </ul>
    </div>

    <div>
        <table >
            <tr>
              <td class="bold">Họ và tên</td>
              <td>:{{full_name}}</th>
              <td> <span class="bold">Giới tính :</span> {{gender}}</td>
            </tr>
            <tr>
              <td class="bold">Ngày sinh</td>
              <td>:{{dob}}</td>
            </tr>
            <tr>
              <td class="bold">Số CMND/Hộ chiếu/Thẻ CCCD</td>
              <td>:{{nid}}</td>
            </tr>

            <tr>
                <td class="bold">Địa chỉ liên hệ</td>
                <td>:{{address}}</td>
              </tr>

              <!-- <tr>
                <td class="bold">Số điện thoại</td>
                <td>:{{phone_number}}</td>
              </tr> -->

              <tr>
                <td class="bold">Email</td>
                <td>:{{email}}</td>
              </tr>
              
             
          </table>  
    </div>

  

</div><!-- last main dev -->

<div id="mainContainer">


    <!-- <h4>I. THÔNG TIN CÁ NHÂN</h4>
    
        <ul>
            <li>Bên mua bảo hiểm (Người tham gia bảo hiểm) đồng thời là Người được bảo hiểm:</li>
        </ul> -->
   
<div>
  <ul>
    <li><span class="bold widthright"> Thời hạn bảo hiểm</span>	: 01 Năm	</li>
    <li><span class="bold widthright"> Định kỳ đóng phí    </span>  : Đóng phí một lần với sản phẩm chính và đóng phí định kỳ năm với SPBT </li>
    <li><span class="bold"> Số tiền bảo hiểm và Phí bảo hiểm</span>	</li>
    
</ul>

</div>
        <div class="table-div">
          <table class="table" border="1" >
            <tr>
              <th>Tên Sản phẩm chính/Sản phẩm bổ trợ (SPBT)</th>
              <th>Số tiền bảo hiểm</th>
              <th>Phí bảo hiểm</th>
            </tr>
            <tr>
              <td>Bảo hiểm sinh mạng thời hạn 1 năm (BV-NB11)</td>
              <td>{{tl_protection_amount}}</td>
              <td> {{tl_premium}} VND</td>
            </tr>
            <tr>
              <td>Bảo hiểm thương tật bộ phận vĩnh viễn do tai nạn (BV-NR12)
                </td>
              <td>{{permanent_disability_due_to_accident_protection_amount}}</td>
              <td>{{permanent_disability_due_to_accident_protection_premium}} VND</td>
            </tr>

            <tr>
                <td>Bảo hiểm các bệnh lý nghiêm trọng (BV-NR15)
                  </td>
                <td>{{critical_illness_protection_amount}}</td>
                <td> {{critical_illness_premium}} VND</td>
              </tr>
            <tr class="bold">

                <td colspan="2">Tổng</td>
                <td> {{total_amount}} VND</td>
              </tr>
          </table> 
        </div> 
        <div>
          <ul>
            <li class="bold">Người thụ hưởng chỉ định:</li>
        </ul>
        </div>

          <div class="table-div">
            <table class="table" border="1" >
              <tr>
                <th>Họ và tên</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Số CMND/Hộ chiếu/Thẻ CCCD</th>
                <th>Quan hệ với NĐBH</th>
                <th>Tỷ lệ được hưởng</th>
                
              </tr>
              {{nominated_rows}}
            </table>  
          </div>

          <!-- nominated details -->
          


          <h3>II. THÔNG TIN VỀ SỨC KHỎE</h3>
          <p class="italicStyle italic">Vui lòng trả lời các câu hỏi dưới đây bằng cách đánh dấu “X” vào ô “Có” hoặc “Không”</p>


        <div class="tablethree table-div" >
          <table class="table"  style="border: 1px dotted black;" border="1" >
            <tr>
              <th class="thdotted">STT</th>
              <th class="thdotted">Tình trạng sức khỏe</th>
              <th class="thdotted">Có</th>
              <th class="thdotted">Không</th>
            
              
            </tr>
            <tr>
              <td class="thdotted" valign="top" >1</td>
              <td class="thdotted">Ông/Bà đã từng được chẩn đoán hoặc điều trị một trong các bệnh lý sau không: Huyết áp cao / Bệnh tim mạch/ Tiểu đường/ Động kinh/ Ung thư/ U bướu/ Đột quỵ/ Tai biến mạch máu não/ Rối loạn chức năng gan-mật/ Rối loạn chức năng thận/ Rối loạn chức năng hô hấp/ Rối loạn huyết học/ Rối loạn Hormone/ Rối loạn tâm thần/ /Bệnh lao/Bệnh truyền nhiễm ?</td>
              <td class="thdotted"></td>
              <td class="thdotted " valign="top">X</td>
             
              
            </tr>
            <tr>
              <td class="thdotted" valign="top" >2</td>
              <td class="thdotted">Trong vòng 3 năm qua, Ông/Bà có bao giờ phải điều trị hoặc được chỉ định điều trị y tế từ 3 tháng liên tục trở lên không?</td>
              <td class="thdotted"></td>
              <td class="thdotted" valign="top" >X</td>
            </tr>

            <tr>
                <td class="thdotted" valign="top" >3</td>
                <td class="thdotted">Trong vòng 3 năm qua, Ông/Bà có phải nằm viện từ 2 tuần liên tục trở lên do bất kỳ một bệnh gì hoặc do tai nạn đã xảy ra trước đây không?</td>
                <td class="thdotted"></td>
                <td class="thdotted" valign="top" >X</td>
              </tr>
              <tr>
                <td class="thdotted" valign="top" >4</td>
                <td class="thdotted">Ông/Bà có đang bị bệnh và đã được chỉ định phải nằm viện hoặc phẫu thuật không?</td>
                <td class="thdotted"></td>
                <td class="thdotted" valign="top" >X</td>
              </tr>
              <tr>
                <td class="thdotted" valign="top" >5</td>
                <td class="thdotted">Ông/Bà đã bao giờ có kết quả xét nghiệm HIV dương tính hoặc đã từng điều trị bệnh AIDS không?</td>
                <td class="thdotted"></td>
                <td class="thdotted" valign="top" >X</td>
              </tr>
              <tr>
                <td class="thdotted" valign="top" >6</td>
                <td class="thdotted">Ông/Bà đã từng sử dụng một trong các loại thuốc gây nghiện, thuốc kích thích, thuốc gây ảo giác hoặc ma tuý ngoài chỉ định của bác sỹ hoặc cơ quan có thẩm quyền không?</td>
                <td class="thdotted"></td>
                <td class="thdotted" valign="top" >X</td>
              </tr>
              <tr>
                <td class="thdotted" valign="top" >7</td>
                <td class="thdotted">Ông/Bà có bị mất hoặc mất hoàn toàn chức năng của một hoặc cả hai mắt; một hoặc cả hai tay; một hoặc cả hai chân không?</td>
                <td class="thdotted"></td>
                <td class="thdotted" valign="top" >X</td>
              </tr>
              <tr>
                <td class="thdotted" valign="top" >8</td>
                <td class="thdotted">
                  Ông/Bà đã bao giờ bị từ chối hay trì hoãn chấp nhận bảo hiểm khi mua bảo hiểm nhân thọ vì bất kỳ lý do sức khoẻ nào chưa?
</td>
                <td class="thdotted"></td>
                <td class="thdotted" valign="top" >X</td>
              </tr>
          </table>  
        </div>


        <h3>III. CAM KẾT VÀ ỦY QUYỀN</h3>
        <p class="italicStyle">Bằng việc ký tại Giấy yêu cầu bảo hiểm này theo hình thức chữ ký điện tử, Tôi (Bên mua bảo hiểm đồng thời là Người được bảo hiểm) xác nhận:</p>


        <ol>
            <li>Tôi đang cư trú tại Việt Nam. Tôi đã được cung cấp đầy đủ thông tin liên quan đến hợp đồng bảo hiểm, giải thích các quy tắc, điều khoản bảo hiểm  thông qua các Tài liệu giới thiệu sản phẩm, Tài liệu minh họa Hợp đồng bảo hiểm, Giấy yêu cầu bảo hiểm này, (các) Quy tắc, Điều khoản bảo hiểm, quyền và nghĩa vụ của Bên mua bảo hiểm/Người được bảo hiểm, hiểu rõ các trường hợp loại trừ trách nhiệm bảo hiểm, các khoản phí phải đóng. Tôi xác nhận rằng mọi khoản tiền dùng để đóng Phí bảo hiểm không có nguồn gốc từ hoạt động vi phạm pháp luật phòng chống rửa tiền của Việt Nam.</li>
            <li>Tôi cam kết những thông tin cung cấp khi đăng ký tham gia bảo hiểm tại Giấy yêu cầu bảo hiểm này và các thông tin khác mà Tôi cung cấp cho Bảo Việt Nhân thọ, bác sỹ hoặc bên thứ ba do Bảo Việt Nhân thọ chỉ định là đầy đủ và trung thực và là cơ sở để Bảo Việt Nhân thọ đánh giá rủi ro, chấp nhận bảo hiểm. Tôi hiểu rằng việc thẩm định, kiểm tra sức khỏe (nếu có) của Bảo Việt Nhân thọ không thay thế cho nghĩa vụ cung cấp thông tin trung thực của Bên mua bảo hiểm/Người được bảo hiểm. Tôi hiểu và chấp thuận rằng việc vi phạm nghĩa vụ này có thể dẫn tới Hợp đồng bảo hiểm bị xử lý theo các quy định của Hợp đồng bảo hiểm.
            </li>
            <li>Tôi đồng ý/ủy quyền cho Bảo Việt Nhân thọ được liên hệ và các bác sĩ, cơ sở khám bệnh, chữa bệnh, tổ chức, cá nhân khác được cung cấp cho Bảo Việt Nhân thọ và/hoặc Bên thứ ba do Bảo Việt Nhân thọ chỉ định tất cả tài liệu, hồ sơ bệnh án và tất cả các thông tin sức khỏe, y tế khác có liên quan đến Bên mua bảo hiểm/Người được bảo hiểm nhằm đảm bảo cho việc giao kết và thực hiện Hợp đồng bảo hiểm.
            </li>
            <li>Tôi đồng ý cho Bảo Việt Nhân thọ được sử dụng, chuyển giao các thông tin do Bên mua bảo hiểm/Người được bảo hiểm đã cung cấp trong các trường hợp sau: Thu thập, sử dụng, chuyển giao theo yêu cầu của cơ quan nhà nước có thẩm quyền hoặc cho mục đích thẩm định, tính toán phí bảo hiểm, phát hành Hợp đồng bảo hiểm, thu phí bảo hiểm, tái bảo hiểm, trích lập dự phòng nghiệp vụ, giải quyết chi trả quyền lợi bảo hiểm, nghiên cứu thiết kế sản phẩm, phòng chống trục lợi bảo hiểm, nghiên cứu, đánh giá tình hình tài chính, khả năng thanh toán, mức độ đầy đủ vốn, yêu cầu vốn. Các trường hợp chuyển giao thông tin khác phải được Bên mua bảo hiểm/Người được bảo hiểm đồng ý bằng văn bản.
            </li>
            <li>Tôi hiểu và xác nhận rằng ngoại trừ việc áp dụng quy định về Bảo hiểm tạm thời tại Giấy chứng nhận bảo hiểm tạm thời, Bảo Việt Nhân thọ sẽ không chịu bất kỳ nghĩa vụ nào cho đến khi Bảo Việt Nhân thọ đồng ý chấp nhận bảo hiểm và phát hành Hợp đồng.</li>
            <li>Tôi xác nhận đã đọc, hiểu toàn bộ nội dung Giấy yêu cầu bảo hiểm này trước khi ký. Việc Tôi ký tên trên GYCBH đồng nghĩa với việc Tôi là người đã cung cấp, kê khai thông tin cho Bảo Việt Nhân thọ. Tôi xác nhận chỉ sử dụng thẻ ngân hàng/tài khoản thanh toán của chính bản thân Tôi để trả phí bảo hiểm cho Hợp đồng bảo hiểm này. </li>
            <li>Tôi xác nhận chữ ký điện tử sử dụng trên Giấy yêu cầu bảo hiểm này và các tài liệu khác mà Tôi cung cấp cho Bảo Việt Nhân thọ là chữ ký điện tử của chính bản thân Tôi và chữ ký điện tử này đã được đăng ký tại tổ chức được cấp phép cung cấp dịch vụ chứng thực chữ ký số công cộng.</li>
            <li>Tôi đồng ý với việc Bảo Việt Nhân thọ sẽ phát hành bộ Hợp đồng bảo hiểm dưới hình thức dữ liệu điện tử (Hợp đồng bảo hiểm điện tử) và đồng ý nhận Hợp đồng bảo hiểm điện tử và các thông tin liên quan đến Hợp đồng bảo hiểm qua địa chỉ email cung cấp trên đây. Bằng việc xác nhận này, Tôi hiểu rằng hồ sơ yêu cầu bảo hiểm sẽ có giá trị như trường hợp hồ sơ yêu cầu bảo hiểm được lập bằng văn bản và ký bằng chữ ký của Tôi.</li>
            <li>Tôi đồng ý rằng trường hợp Tôi sử dụng hình thức thanh toán bằng thẻ tín dụng của VPB FC và có đề nghị hủy Hợp đồng trong thời gian cân nhắc thì phí bảo hiểm hoàn trả lại (sau khi trừ các chi phí có liên quan theo quy định) sẽ được Bảo Việt Nhân thọ chuyển cho VPB FC để VPB FC thực hiện hoàn cho Tôi.</li>
        </ol>

        <br/>
        <br/>
        <h3>Thông tin khách hàng cần biết:</h3>
        <p>Bảo Việt Nhân thọ sẽ chịu trách nhiệm bảo mật thông tin do Bên mua bảo hiểm/ Người được bảo hiểm cung cấp. Các thông tin này sẽ chỉ được chuyển giao cho Bên thứ ba khi được Bên mua bảo hiểm/Người được bảo hiểm đồng ý, trừ các trường hợp nêu tại Mục 3 và Mục 4 của Phần III. Cam kết và Ủy quyền.</p>

</div>
</div>
<div class="signDiv center extramargin">

  <table style="width: 100%;">
    <tr >
        <td  class="sign">Tư vấn viên (Mã đại lý): {{agent_code}}</td>
        <td  class="sign">Bên mua bảo hiểm đồng thời là người được bảo hiểm </td>
        
    </tr>
    <!-- <tr>
      <td width="35%" class="sign bold"></td>
      <td width="65%" class="sign bold"></td>
     
    </tr> -->
    <!-- <tr>
      <td width="35%" class="sign">(Ký và ghi rõ họ tên)</td>
      <td width="65%" class="sign">(Ký và ghi rõ họ tên)</td>
    </tr> -->
    
</table>


<br/>
<!-- <table style="width: 100%;">
  <tr >
      <td width="35%" class="sign">_________________________</td>
      <td width="65%" class="sign">_________________________</td>
      
  </tr>
</table> -->

  
</div>

<footer style="padding-top: 15%;">
  <div style="float: right;margin-top: 15px; font-size: 12px;">
    tài liệu này chỉ có giá trị sử dụng khi có đầy đủ 03 trang</br>
      
  </div>
  
</footer>



</body>
</html>
