<html>

<head>
    <title>Illustration</title>
    <style>
        @font-face {
            font-family: 'source-viet';
            font-style: normal;
            /* src: url(fonts/AndikaNewBasic-R.ttf); */
            src: url(fonts/BeVietnam-Thin.ttf);

        }

        body {
            width: 95%;
            margin: 5% auto;
        }

        .header {
            margin-top: 50px;
            height: 60px;
            border: 2px solid grey;
            padding: 20px;

        }

        .imgs {
            height: 40px;
            float: left;
            margin-top: 10px;
        }

        .title {
            float: right;
            color: gray;
            font-size: xx-large;
            font-weight: 700;
            margin-top: 10px;
        }

        .heading {
            font-size: 20px;
            text-align: center;
            padding: 10px;
        }

        .listHeading {
            /* margin-top: 15px; */
            font-size: 15px;
        }

        .listItems {
            /* margin-top: 15px; */
            font-size: 12px;
        }

        ol li {
            padding-top: 1%;
        }

        table tr td {
            border: 1px solid grey;
            padding: 5px;
            border-bottom: 1px solid white;
        }

        table tr th {
            border: 1px solid grey;
            padding: 5px;
            border-bottom: 1px solid white;
        }

        .second tr td :nth-child(2) {
            border-bottom: 1px solid grey;
            border-left: 1px solid white;
        }

        .sign {
            padding-top: 15px;
            font-size: 12px;
            border: 1px solid white;
        }
    </style>
</head>

<body style="font-family: 'source-viet',serif; ">
    <header class="header">
        <div>
            <img class="imgs" src="image/baoviet-logo.png" />
        </div>
        <div class="title">AN TÂM TRỌN VẸN</div>
        
        
    </header>
    <div class="heading">TÀI LIỆU MINH HỌA HỢP ĐỒNG BẢO HIỂM</br><strong>AN TÂM TRỌN VẸN</strong> </br> Số MHHĐBH : {{illustration_number}}</div>
    <div class="listHeading">An Tâm Trọn Vẹn là sản phẩm bảo hiểm mang lại sự cam kết bảo vệ tài chính
        trước những rủi ro bất trắc trong cuộc sống. Chỉ với phí đóng {{what_you_pay}}
        đồng/năm, Quý khách sẽ nhận được các Quyền lợi:
    </div>
    <div class="listItems">
        <ol>
            <li><strong>Quyền lợi bảo hiểm tử vong:</strong> {{tl_protection_amount}}
                đồng sẽ được trả khi Người được bảo hiểm không may tử vong do tai nạn khi Hợp đồng có hiệu lực, do các
                bệnh tật khác bệnh đặc biệt (*) sau 30 ngày kể từ ngày Hợp đồng có hiệu lực. </li>
            <li><strong>Quyền lợi bảo hiểm thương tật toàn bộ vĩnh viễn do tai nạn:</strong>
                {{permanent_disability_due_to_accident_protection_amount}}
                đồng sẽ được trả khi Người được bảo hiểm không may bị thương tật toàn bộ vĩnh viễn do tai nạn.</li>
            <li><strong>Quyền lợi bảo hiểm thương tật bộ phận vĩnh viễn do tai nạn:</strong> Nhận tỷ lệ phần trăm Số
                tiền bảo hiểm (tối đa 100% Số tiền bảo hiểm, tương ứng
                {{permanent_disability_due_to_accident_protection_amount}} đồng) khi Người được bảo hiểm không may bị
                thương tật bộ phận vĩnh viễn do tai nạn.</li>
            <li><strong>Quyền lợi Bệnh lý nghiêm trọng:</strong> Nhận {{critical_illness_protection_amount}} đồng khi
                Người được bảo hiểm không may mắc 1 trong 37 Bệnh lý nghiêm trọng.</br>
                (*) Bệnh đặc biệt là những bệnh huyết áp, tim mạch, ung thư, suy gan, suy hô hấp, suy thận và các bệnh
                máu ác tính.</li>
        </ol>
    </div>
    <div>
        <table  cellspacing="0" cellpadding="0" style="font-size: 12px;">
            <tr style="width: 100%;">
                <td style="border: 1px solid white;" colspan="3">
                    <strong>Tổng Công Ty Bảo Việt Nhân thọ:</strong> Thành lập năm 1996, Tổng Công ty Bảo Việt Nhân thọ là
                    công ty Bảo hiểm nhân thọ đầu tiên trên thị trường Việt Nam và liên tục là một trong những công ty
                    bảo hiểm nhân thọ có kết quả kinh doanh dẫn đầu thị trường trong những năm qua. Với hệ thống mạng
                    lưới vững chắc gồm <strong>76 Công ty thành viên</strong> trên khắp 63 tỉnh thành, <strong>gần 400
                        văn phòng khu vực và Tổng đại lý, </strong>cùng hơn <strong>225.000 Tư vấn viên,</strong> Bảo
                    Việt Nhân thọ đã và đang bảo vệ cho hơn <strong>14,2 triệu lượt khách hàng</strong> với tổng số tiền
                    chi trả quyền lợi và đáo hạn gần <strong>35.000 tỷ đồng,</strong> đóng góp hiệu quả vào ngân sách
                    Nhà nước và góp phần vào sự phát triển kinh tế xã hội.<br/>
                    <strong>Trụ sở chính:</strong> Tầng 37, Keangnam Hanoi Landmark Tower, Đường Phạm Hùng, Quận Nam Từ
                    Liêm, Thành phố Hà Nội, Việt Nam.<br/>
                    <strong>Tổng đài</strong> 1900 558899 <strong>Fax</strong> 024.35770958
                </td>
            </tr>
            <tr style="width: 100%;">
                <td style="border: 1px solid white;">
                    Tư vấn viên: FE Credit</br>
                    <!-- Mã số:<span style="margin-left: 300px;">Nhóm/Ban:</span></br> -->
                    Mã số: {{agent_code}}</br>
                    Điện thoại: 028 3868 9968</br>
                    Địa chỉ: Tòa nhà REE Tower, 9 Đoàn Văn Bơ, Phường 12, Quận 4, Hồ Chí Minh 
                </td>
                <!-- <td style="border: 1px solid white; width: 25%;">Nhóm/Ban:
                </td>
                <td
                    style="display: relative;border: 1px solid white; width: 50%;">
                    Địa chỉ liên hệ: (in tên công ty của đại lý)
                    (in địa chỉ Công ty)
                </td> -->
            </tr>
        </table>
        <hr style="height: 2px;color: black;" />
        <div style="margin-top: 3%;font-size: 15px;">
        <div style="text-align: center; font-weight: bold;">THÔNG TIN HỢP ĐỒNG BẢO HIỂM DỰ KIẾN</div></div>
        <div style="text-align: right; font-size: 12px;">Ngày dự thảo: {{purchased_date}}</div>
        <ol style="padding-inline-start: 12px;">
            <li><strong>Thông tin khách hàng</strong></li>
            <table  class="second" style="width: 100%; font-size: 12px;">
                <tr>
                    <th></th>
                    <th>Bên mua bảo hiểm (BMBH) đồng thời là Người được bảo hiểm (NĐBH)</th>
                </tr>

                <tr>
                    <td>Họ và tên</td>
                    <td>{{full_name}}
                    </td>
                </tr>
                <tr>
                    <td>Giới tính</td>
                    <td>
                        {{gender}}

                    </td>
                </tr>
                <tr>
                    <td>Ngày sinh</td>
                    <td>
                        {{dob}}

                    </td>
                </tr>
                <tr>
                    <td>Tuổi được bảo hiểm</td>
                    <td>
                        {{age}}

                    </td>
                </tr>
                <tr>
                    <td>CMND/Thẻ CCCD/HC</td>
                    <td>
                        {{nid}}

                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: 1px solid grey !important;">Nghề nghiệp</td>
                    <td style="border-bottom: 1px solid grey !important;">
                        {{occupation}}
                    </td>
                </tr>
            </table>
            <li style="margin-top: 20px; font-size: 12px;"><strong>Thông tin về Hợp đồng An Tâm Trọn Vẹn</strong></li>
            <table style="width: 100%; font-size: 12px;">
                <tr>
                    <td style="border-bottom: 1px solid grey !important;">
                        <b>Thời hạn bảo hiểm:</b> 1 năm
                    </td>
                    <td style="border-bottom: 1px solid grey !important;">
                        <b>Định kỳ đóng phí: </b>đóng phí một lần với Sản phẩm chính và đóng phí định kỳ năm với Sản
                        phẩm bổ trợ
                    </td>
                </tr>
            </table>
            <table style="width: 100%;margin-top: 30px; font-size: 12px;">
                <tr>
                    <th>Tên Sản phẩm chính và Sản phẩm bổ trợ </th>
                    <th>Số tiền bảo hiểm</th>
                    <th>Phí bảo hiểm</th>
                </tr>
                <tr>
                    <td>Bảo hiểm sinh mạng thời hạn 1 năm (BV-NB11)</td>
                    <td>{{tl_protection_amount}} VND</td>
                    <td>{{tl_premium}} VND</td>
                </tr>
                <tr>
                    <td>Bảo hiểm thương tật bộ phận vĩnh viễn do tai nạn (BV-NR12)</td>
                    <td>{{permanent_disability_due_to_accident_protection_amount}} VND</td>
                    <td>{{permanent_disability_due_to_accident_protection_premium}} VND
                    </td>
                </tr>
                <tr>
                    <td>Bảo hiểm các bệnh lý nghiêm trọng (BV-NR15)</td>
                    <td>{{critical_illness_protection_amount}} VND</td>
                    <td>{{critical_illness_premium}} VND</td>
                </tr>
                <tr>
                    <td colspan="2" style="border-bottom: 1px solid grey !important;"><b>Tổng</b></td>

                    <td style="border-bottom: 1px solid grey !important;">{{total_amount}} VND</td>
                </tr>
            </table>
        </ol>
        <div style="margin-top: 2%; font-size: 12px;">
            <b><i>Lưu ý:</b></br>
            - Để được chấp nhận bảo hiểm, tuổi của Người được bảo hiểm phải từ 18 đến 50 tuổi.</br>
            - Phí bảo hiểm của Sản phẩm bổ trợ (BV-NR12, BV-NR15) trong tài liệu minh họa này được làm tròn theo đơn vị
            trăm đồng.</br>
            - Sản phẩm bổ trợ có áp dụng quy định hạn mức chi trả tối đa theo quy định tại Điều khoản Sản phẩm bổ trợ
            tương ứng.</br>
            - Hợp đồng bảo hiểm An Tâm Trọn Vẹn không có Giá trị giải ước và không có lãi chia.</br></i>
        </div>

        <div style="margin: 1%; font-size: 15px;text-align: center;font-weight: bold;">QUÝ KHÁCH LƯU Ý</div>
        <div>

            <div style="padding-bottom: 15px;font-size: 12px;">- Các số liệu trong Tài liệu minh họa Hợp đồng bảo hiểm
                này được xác định tại thời điểm minh họa theo nhu cầu, thông tin Quý khách cung cấp và dựa trên giả định
                rằng Phí bảo hiểm được đóng đầy đủ, đúng hạn theo định kỳ đóng Phí bảo hiểm mà Quý khách lựa chọn và
                trong thời hạn bảo hiểm không có yêu cầu nào của Quý khách làm thay đổi những số liệu trên.
                </br></div>
            <div style="padding-bottom: 10px;font-size: 12px;">-Phí bảo hiểm của Hợp đồng chính (Bảo hiểm sinh mạng có
                thời hạn) và của Sản phẩm bổ trợ mua kèm (nếu có) được trình bày trên đây là mức phí cho Người được bảo
                hiểm có đủ điều kiện được chấp nhận bảo hiểm phí chuẩn theo các quy định về đánh giá rủi ro của Bảo Việt
                Nhân thọ.
                </br></div>
            <div style="padding-bottom: 10px;font-size: 12px;">-Quyền lợi bảo hiểm cùng các nội dung liên quan đến việc
                giao kết và thực hiện Hợp đồng của Hợp đồng chính và các Sản phẩm bổ trợ được quy định chi tiết trong
                Quy tắc, Điều khoản bảo hiểm <strong>của Hợp đồng chính và các Sản phẩm bổ trợ tương ứng.</strong>
            </div>
        </div>
        <div style="margin: 1%;font-size: 15px; text-align: center; font-weight: bold;">XÁC NHẬN CỦA KHÁCH HÀNG
        </div>
        <div style="font-size: 12px;">

            Tôi, Bên mua bảo hiểm xác nhận đã đọc, hiểu và đồng ý toàn bộ các nội dung của Tài liệu minh họa hợp đồng
            bảo hiểm này, Quy tắc Điều khoản Hợp đồng chính và Sản phẩm bổ trợ, kể cả các lưu ý, các đặc điểm, quyền lợi
            và trách nhiệm của Bên mua bảo hiểm/Người được bảo hiểm khi tham gia bảo hiểm.
        </div>

        <!-- <table style="width: 95%;">
            <tr>
                <td class="sign">------------------------------</td>
                <td class="sign">------------------------------</td>
                <td class="sign">------------------------------</td>
            </tr>
            <tr>
                <td class="sign" style="padding-top : unset !important">{{policyholder_name}}</td>
                <td class="sign" style="padding-top : unset !important">Chữ ký</td>
                <td class="sign" style="padding-top : unset !important">Ngày/tháng/năm {{purchased_date}}</td>
            </tr>
            <tr>
                <td class="sign">------------------------------</td>
                <td class="sign">------------------------------</td>
                <td class="sign">------------------------------</td>
            </tr>
            <tr>
                <td class="sign" style="padding-top : unset !important">{{policy_seller_name}}</td>
                <td class="sign" style="padding-top : unset !important">Chữ ký</td>
                <td class="sign" style="padding-top : unset !important">Ngày/tháng/năm</td>
            </tr>
        </table> -->

        <table style="width: 100%;">
            <tr >
                <td  class="sign">Tư vấn viên (Mã đại lý): {{agent_code}}</td>
                <td  class="sign">Bên mua bảo hiểm đồng thời là người được bảo hiểm </td>
                
            </tr>
            <!-- <tr>
              <td width="35%" class="sign bold"></td>
              <td width="65%" class="sign bold"></td>
             
            </tr> -->
            <!-- <tr>
              <td width="35%" class="sign">(Ký và ghi rõ họ tên)</td>
              <td width="65%" class="sign">(Ký và ghi rõ họ tên)</td>
            </tr> -->
            
        </table>

    </div>
    <hr style="margin-top: 18%;" />
    <footer>
        <div style="float: right;margin-top: 15px; font-size: 12px;">
            Tài liệu này chỉ có giá trị sử dụng khi có đầy đủ 03 trang</br>
            
        </div>
        
    </footer>

</body>

</html>