<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Insurance</title>
    <style>

@font-face {
                font-family: 'source-viet';
                font-style: normal;
                /* src: url(fonts/AndikaNewBasic-R.ttf); */
                src: url(fonts/BeVietnam-Thin.ttf);
                
            }
          
  </style>
  </head>
  <body style="font-family: 'source-viet',serif; font-size: 12px;">
    <div style="width: 90%; margin: 0 auto;">
      <img src="image/baoviet-logo.png" alt="BAOVIET Life" style="width:200px" />
      <div style="text-align: center;">
        <div
          style="font-weight: bold; font-size: 20px; color:blue ; line-height: 30px;"
        >
          GIẤY CHỨNG NHẬN BẢO HIỂM
        </div>
        <div style="font-weight:bold; ">
          SẢN PHẨM BẢO HIỂM AN TÂM TRỌN VẸN
        </div>
        <div style="font-size: 12px; color:red; line-height: 15px;"><u>
          (Phát hành theo ủy quyền của Tổng Công ty Bảo Việt Nhân thọ)
        </u></div>
        <span style="line-height: 40px;"
          >Số GCNBH:
          <span style="font-size: 14px"><b>{{policy_number}}</b></span>
        </span>

        <div style="text-align:left;">
          Trên cơ sở Bên mua bảo hiểm/Người được bảo hiểm (i) đồng ý tham gia
          bảo hiểm, (ii) đáp ứng đầy đủ điều kiện được tham gia bảo hiểm của sản
          phẩm bảo hiểm, (iii) có tất cả các câu trả lời sức khỏe trong “Giấy
          yêu cầu bảo hiểm” là “Không” hoặc được Bảo Việt Nhân thọ thông báo
          Chấp nhận bảo hiểm (Tùy quy trình đánh giá rủi ro áp dụng với Sản phẩm
          bảo hiểm), (iv) đóng phí bảo hiểm đầy đủ, Hợp đồng bảo hiểm sẽ phát
          sinh hiệu lực với những thông tin chính như sau kể từ khi Bên mua bảo
          hiểm nộp phí bảo hiểm đầu tiên.
        </div>
      </div>

      <div
        style="text-align:left; margin-top: 1%; font-weight: bold; "
      >
        Bên mua bảo hiểm (Người tham gia bảo hiểm) đồng thời là Người được bảo
        hiểm
      </div>
    <div style= "margin-top:5px;">
      <span style="">
        Họ và tên:
        <span style="  line-height: 15px;"><u>{{full_name}}</u></span></span
      >
    </div>
      <div style="font-weight: bold;  margin-top:5px;">
        Thời hạn Bảo hiểm:
        <span style="font-weight:normal; ">
          01 Năm kể từ ngày <b>{{purchased_date}}</b> đến hết ngày <b>{{plan_expiring_date}}</b></span
        >
      </div>
      <div style="font-weight: bold; ">
        Định kỳ đóng phí:
        <span style="font-weight:normal;  line-height: 30px;"
          >Đóng phí một lần với sản phẩm chính và đóng phí định kỳ năm với
          SPBT</span
        >
      </div>

      <div style="font-weight: bold; ">
        Số tiền bảo hiểm và Phí bảo hiểm như sau:
      </div>

      <div style="margin-top: 1%; ">
        <table style="width:100% ; border-collapse: collapse" border="1">
          <tr>
            <th>Tên Sản phẩm chính/Sản phẩm bổ trợ (SPBT)</th>
            <th
              style="border-bottom: 1px solid black; border-left: 1px solid black; border-top: 1px solid black;"
            >
              Số tiền bảo hiểm
            </th>
            <th>Phí bảo hiểm</th>
          </tr>
          <tr>
            <td>Bảo hiểm sinh mạng thời hạn 1 năm (BV-NB11)</td>
            <td>{{tl_protection_amount}}</td>
            <td> {{tl_premium}} VND</td>
          </tr>
          <tr>
            <td>Bảo hiểm thương tật bộ phận vĩnh viễn do tai nạn (BV-NR12)</td>
            <td>{{permanent_disability_due_to_accident_protection_amount}}</td>
            <td>{{permanent_disability_due_to_accident_protection_premium}} VND</td>
          </tr>
          <tr>
            <td>Bảo hiểm các bệnh lý nghiêm trọng (BV-NR15)</td>
            <td>{{critical_illness_protection_amount}}</td>
            <td> {{critical_illness_premium}} VND</td>
          </tr>

          <tr>
            <td style="font-weight: bold;">Tổng</td>
            <td></td>
            <td><span class="dynamic-value"><b>{{total_amount}} VND</b></span></td>
          </tr>
        </table>
      </div>

      <div style="font-weight: bold;  margin-top: 1%;">
        Người thụ hưởng:
        <span style="font-weight: normal; ">
          Theo thông tin chỉ định tại Giấy yêu cầu bảo hiểm.</span
        >
      </div>

    
      <div style="margin-top: 1%;">
        Trong trường hợp Khách hàng không đáp ứng các điều kiện được chấp nhận
        bảo hiểm, Hợp đồng bảo hiểm sẽ không phát sinh hiệu lực và Bảo Việt Nhân
        thọ không phải chịu trách nhiệm với những rủi ro xảy ra với Người được
        bảo hiểm, kể cả bảo hiểm tạm thời.
      </div>
    <div style=" float: right; ">
      <div>
        <table style="margin:0 0 0 auto;text-align: center ;width: 50%">
          <tr>
            <td style="width: 20%" >(Ký, ghi rõ họ tên):</td>
          </tr>
          <!-- <tr>
            <td style="font-weight: bold; ">Đại diện</td>
          </tr>
          <tr>
            <td>(Ký, ghi rõ họ tên và đóng dấu)</td>
          </tr> -->
  
        </table>
      </div>
      
<div style="padding-top: 15%;">
  <hr>
</hr>
</div>


<div >
    <div ><u>Lưu ý:</u></div>
    <div style="font-style: italic;">Quy định về Thời gian cân nhắc của Hợp đồng:</div>
    <div>Trong thời gian 21 ngày kể từ Ngày phát hành Hợp đồng bảo hiểm, Quý khách có quyền từ chối tiếp tục
            tham gia bảo hiểm bằng cách thông báo bằng văn bản cho Bảo Việt Nhân thọ. Hợp đồng bảo hiểm sẽ bị hủy
            và Quý khách được hoàn lại Số phí đã đóng (không có lãi) sau khi trừ đi Phí kiểm tra sức khỏe (nếu có) và
            Phí đánh giá rủi ro và phát hành hợp đồng theo quy định của Bảo Việt Nhân thọ. Bảo Việt Nhân thọ sẽ
            không chịu bất kỳ trách nhiệm nào đối với các rủi ro đã phát sinh đối với Người được bảo hiểm. Sau thời
            gian trên, nếu Quý khách có yêu cầu hủy Hợp đồng bảo hiểm, việc giải quyết sẽ được tuân theo quy định
            tương ứng tại Khoản 4.3, Điều 4, Điều khoản sản phẩm Bảo hiểm sinh mạng có thời hạn.</div>


    </div>
    </div> 
    <footer>
      <div style="float: right;margin-top: 15px; font-size: 12px;">
          Tài liệu này chỉ có giá trị sử dụng khi có đầy đủ 01 trang</br>
          
      </div>
      
  </footer>

  </body>
</html>
